ErrorDocument 400 /public_html/error.php
ErrorDocument 401 /public_html/error.php
ErrorDocument 403 /public_html/error.php
ErrorDocument 404 /public_html/error.php
ErrorDocument 500 /public_html/error.php
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>
<IfModule mod_headers.c>
  Header unset X-Powered-By
  Header always unset X-Powered-By
</IfModule>
